
.carousel-sass {
  width: 640px;
  height: 480px;
  overflow: hidden;
  position: relative;

  .inner {
    display: flex;
    position: absolute;
    left:0;
  }

  .next::after, .prev::after{
    content: '>';
    position: absolute;
    top: 50%;
    right:0;
    background-color: white;
    width: 1em;
    height: 3em;
    font-weight: bold;
    font-family: sans-serif;
    transform: translateY(-50%);
    line-height:3em;
    box-sizing: border-box;
    padding: 0 0.2em;
    cursor: pointer;
    opacity: 0.25;
    transition: opacity 0.1s linear;

  }
  .next:hover::after, .prev:hover::after {
    opacity:1;
  }
  prev::after {
    content: '<';
    left:0;
  }
}
